<article class="post">
  <header class="post-header home">
    <div class="post-title">Articles</div>
  </header>

  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        <!-- 首页 不显示时间 -->
        <!-- {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span> -->
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>



</div>

<div style="position: fixed; bottom: 20px; font-size: 12px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; flex-wrap: wrap;">
        <a target="_blank" href="https://beian.miit.gov.cn" style="color:#333; padding: 0 20px; white-space:nowrap; margin: auto;">
            <p style="">蜀ICP备16010579号-1</p>
        </a>
    </div>