<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>
	
	<div style="position: fixed; bottom: 20px; font-size: 12px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; flex-wrap: wrap;">
        <a target="_blank" href="https://beian.miit.gov.cn" style="color:#333; padding: 0 20px; white-space:nowrap; margin: auto;">
            <p style="">蜀ICP备16010579号-1</p>
        </a>
    </div>
</article>